<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>https://downloader.disk.yandex.ru/disk/186e3ca24e21e539f8d2e5d030731d94b74ecea11c1c4f21217eb6f7eea66e5a/696a8f68/USoZgYoXEUi1DYsrlN4WbBXWLpyQmxdCsBDB5PJ0brF1VSzq7QUZ6FGwK5mH0zMAD38X_5ITNlY5BsJV9N8OpQ%3D%3D?uid=0&amp;filename=%D0%90%D0%B2%D0%B8%D1%82%D0%BE%20200.5.ipa&amp;disposition=attachment&amp;hash=wNl7xlunN3edMKgkbBs7bNIrSiW3VdcQ3gJviM401ZhHig5XMdTr%2B45o0mK4gpnjq%2FJ6bpmRyOJonT3VoXnDag%3D%3D%3A&amp;limit=0&amp;content_type=application%2Fzip&amp;owner_uid=773676919&amp;fsize=843682937&amp;hid=85ddf70eef17256b09b44eee42c29a3c&amp;media_type=compressed&amp;tknv=v3</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>ru.avito.app</string>
                    <key>bundle-version</key>
                    <string>200.5</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>Авито</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
